
asgiref==3.11.1
Django==5.1.1
dj-database-url==3.1.2
django-bootstrap5==24.2
pillow==12.2.0
psycopg==3.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytils==0.4.4
sqlparse==0.5.5
tzdata==2026.1
psycopg2-binary
gunicorn
