{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'fonts/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/global.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <title>Плавание</title>
  </head>
  <body class="page">
    <header class="header">
      <a class="header__logo_link">Димон</a>
      <nav>
        <ul class="navigation_links">
          <li>string1</li>
          <li>string2</li>
          <li>string3</li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main-info">
        <img class="main-info__img" src="/static/img/main.png" alt="">
        <div class="main-info__about">
          <h2 class="main-info__h2">ФОК "Инкерман"</h2>
          <h1 class="main-info__h1">Дмитрий Милютиков</h1>
          <div class="main-info__separator"></div>
          <p class="main-info__text">
            Привет! Меня зовут Дима.
          </p>
          <p class="main-info__text">
            Я занимаюсь плаванием!
          </p>
          <a href=""></a>
        </div>
        <div class="main-info__achievements">
          <h3>Годы опыта</h3>
          <span></span>
          <h3>Участие в соревнованиях</h3>
          <span></span>
          <h3>Юношеский разряд</h3>
          <span></span>
        </div>
      </section>
    </main>

    <footer class="footer">
      <nav class="footer__nav">
        <ul class="footer__nav_social">
          <li>
            <img
              class="footer__social_img"
              src="/static/img/Instagram.png"
              alt="instagramm icon"
            />
          </li>
          <li>
            <img
              class="footer__social_img"
              src="/static/img/Telegram.png"
              alt="telegramm icon"
            />
          </li>
          <li>
            <img
              class="footer__social_img"
              src="/static/img/YouTube.png"
              alt="youtube icon"
            />
          </li>
        </ul>
      </nav>

      <p class="footer__copyright">Севастополь, 2026</p>

      <nav class="footer__links">
        <ul class="navigation_links">
          <li>string1</li>
          <li>string2</li>
          <li>string3</li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
